#pageWrapper{
    width: 85%;
    max-width: 1000px;
    margin: 0 auto;
}
.form-wrapper {
    margin-top: 10px;;
}

.file_details {
    margin-bottom: 15px;
    float: left;
    border: 1px solid;
    width: 45%;
    margin-right: 1%;
    padding: 14px;
    border-radius: 17px;
}
.form-row{
    margin-bottom: 15px;
}
.input-style{
   border-radius: 3px;
   padding: 4px 8px;
}
label{
    font-weight: bold;
    margin-right: 10px;
}
.error-text {
    color: red;
    font-weight: bold;
}

.success-text {
    color: dodgerblue;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.button-style{
    width: 100px;
    margin: 0 auto;
    /* display: block; */
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    border: green;
}
#create_form{
    width: auto;
}
#save-btn{
    display: block;
}
.btn{
    display: block;
    width: 100%;
    float: left;
}
